.icon-container {
  display: flex;
  flex-direction: row;
  background: transparent;
  justify-content: flex-end;
  gap: 24px;
  padding: 8px 24px;
}

.user-badge {
  border-radius: 100%;
  border: grey 1px solid;
}
