/* container styles */
.list-pane {
	--th-border-radius: 8px;
	background-color: white;
	border-radius: 16px;
	padding: 16px;
	box-shadow: 0.3em 0.3em 1em #aaaaaaaa;
}

/* Link column styles */
td > a {
	padding: 0px !important;
	color: blue !important;
	text-decoration: underline;
}

th, td {
	padding: 20px !important;
}

/* Remove bottom border of last table row */
tr:last-child {
	border-bottom: 0px;
}

th {
	background-color: #f7f7f9 !important;
}

/* Table head rounded borders */
th:first-child {
	border-radius: var(--th-border-radius) 0px 0px var(--th-border-radius);
}

th:last-child {
	border-radius: 0px var(--th-border-radius) var(--th-border-radius) 0px;
}




/* Actions Menu */
.actions-menu {
  position: relative;
}

.actions-menu button {
  background-color: transparent;
  color: var(--foreground-color);
  border-radius: 100%;
}

.actions-menu:hover button:hover {
  background-color: var(--background-color);
}

.actions-menu > .menu-items {
  position: absolute;
  padding: 4px;
  background-color: white;
  border-radius: 8px;
  left: 0px;
  right: 0px;
	box-shadow: 0.3em 0.3em 1em #aaaaaaaa;
  transition: opacity var(--anim-fast);
}

.actions-menu > .menu-items > button {
  border-radius: inherit;
  background-color: transparent;
  
  z-index: 10;
}

.hidden {
  opacity: 0;
}
