nav {
  box-shadow: none !important;
  background-color: var(--body-background) !important;
}

nav > div > ul > li > a {
  color: black !important;
}

.brand-logo {
  color: black !important;
  width: 100%;
}

.nav-wrapper .nav-title {
  font-size: 12px !important; /* Smaller font size */
  padding: 0px !important; /* Ensure no padding */
  color: black !important; /* Ensuring the text color is set */
}

.small-icon {
  transform: scale(1) !important;
}

hr {
  opacity: 0.2;
}

.nav-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.fix-navbar {
  position: fixed !important;
}
