.sidebar-full-height {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}

.nav-item {
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  margin: 0.5rem 0;
  background-color: white;
  border-radius: 10px;
}

.sidebar-header {
  align-items: center;
  gap: 2px; /* Adjust this value to control spacing between items */
  width: 13rem;
}

.material-icons {
  margin-right: 1px; /* Adjust spacing as needed */
  margin-left: 5%;
  transform: scale(2);  
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

